
$Black: #292F3B;
$Grey70: #657390;
$Grey40: #97A1B8;
$Grey10: #E3E9F1;
$Background: #F7F8FA;
$White: #FFFFFF;
$Primary: #ED234E;
$Secondary: #0099BA;
$Ok: #7ED321;
$Error: #E42526;
$CardShadow: 0 4px 8px 0 rgba(0,0,0,0.1);

$tablet-width: 750px;
$desktop-width: 992px;
$large-desktop-width: 1440px;
